/* FLASHCARD
    Interaktivní karty se 3D otáčením včetně fallbacku pro starší prohlížeče jsou řešeny čistě přes CSS díky checkboxu a nevyužívá se JS
    Media queries pro přístupnost a tisk v responsiveness.css
    Pokud není na stránce žádný flashcard, tenhle CSS se nemusí dávat jako link v HTML.
*/

/*
OBSAH:
 1. Obecně vzhled

 2. Řešení funkčnosti
    - moderní způsob
    - fallback
*/



/* ==== 1. OBECNĚ VZHLED ==== */
.flashcard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 40px auto;
    max-width: 1200px;
}

.flashcard-container input {
    display: none;
}

label.flashcard {
    width: 180px;
    height: 220px;
    cursor: pointer;
}

label.flashcard .flashcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

label.flashcard .flashcard-front,
label.flashcard .flashcard-back {
    position: absolute;
    width: 100%;
    height: 100%; 
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

label.flashcard .flashcard-front {
    background-color: #309ce5;
    font-size: 22px;
    font-weight: 600;
}

label.flashcard .flashcard-back {
    background-color: #1c77e8;
    font-size: 16px;
    font-weight: 500;
}

label.flashcard .flashcard-front p,
label.flashcard .flashcard-back p {
    margin: initial;
    padding: 10px;
    line-height: 1.5;
    text-align: center;
}



/* ==== 2. ŘEŠENÍ FUNKČNOSTI ==== */

input#FC-show {
    display: none;
}

.FC-show-container {
    position: relative;
    top: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.1em;
    padding: 0 1.1em;
}

.FC-show-container label {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.FC-show-container::after,
.FC-show-container::before {
    content: "";
    flex: 1;
    height: 1px;
    background-color: currentColor;
    max-width: 600px;
}

.flashcard-container {
    height: 25vh;
    min-height: 140px;
    max-height: 200px;
    overflow-y: hidden;
    pointer-events: none;
    position: relative;
}

.flashcard-container::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 60%;
    background: linear-gradient(
        to bottom,
        #f0f9f000,
        #f0f9f0
    );
}


.flashcard-container > label[for="FC-show"]:first-of-type {
    height: calc(100% + 20px);
    width: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    pointer-events: auto;
    overflow: hidden;
}

input#FC-show:checked ~ .flashcard-container > label[for="FC-show"]:first-of-type {
    display: none;
}

input#FC-show:checked ~ .flashcard-container::after {
    display: none;
}

input#FC-show ~ .flashcard-container + small{
    display: none;
}

input#FC-show:checked ~ .flashcard-container {
    height: auto;
    max-height: none;
    pointer-events: auto;
    overflow-y: visible;
}

input#FC-show:checked ~ .flashcard-container + small{
    display: initial;
}

input#FC-show:checked ~ .FC-show-container {
    top: 30px;
}

input#FC-show:checked ~ .FC-show-container::after,
input#FC-show:checked ~ .FC-show-container::before {
    max-width: 800px;
}

input#FC-show:not(:checked) ~ .FC-show-container > label:last-of-type {
    display: none; /* Skryje "Sbalit", na "Rozbalit" není žádný nastavený styl a použije se výchozí block */
}

input#FC-show:checked ~ .FC-show-container > label:first-of-type {
    display: none; /* Skryje "Rozbalit", na "Sbalit" není žádný nastavený styl a použije se výchozí block */
}

/* Moderní způsob: podle https://www.w3schools.com/howto/howto_css_flip_card.asp */
@supports (backface-visibility: hidden) {
    label.flashcard {
        perspective: 400px;
    }

    label.flashcard .flashcard-inner {
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }

    input#FC-show:checked ~ .flashcard-container input:checked + label.flashcard .flashcard-inner {
        transform: rotateY(180deg);
        z-index: initial;
    }

    label.flashcard .flashcard-front,
    label.flashcard .flashcard-back {
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
        z-index: initial;
    }

    label.flashcard .flashcard-back {
        transform: rotateY(180deg);
    }
}


/* Fallback */
@supports not (backface-visibility: hidden) {
    label.flashcard .flashcard-front,
    label.flashcard .flashcard-back {
        transition: transform 0.6s linear, z-index 0s step-end 0.3s;
    }  

    label.flashcard .flashcard-front {
        transform: rotateY(0deg);
        z-index: 2;
    }

    label.flashcard .flashcard-back {
        transform: rotateY(180deg);
        z-index: 1;
    }

    input#FC-show:checked ~ .flashcard-container input:checked + label.flashcard .flashcard-front {
        transform: rotateY(-180deg);
        z-index: 1;
        transition: transform 0.6s linear, z-index 0s step-start 0.3s;
    }

    input#FC-show:checked ~ .flashcard-container input:checked + label.flashcard .flashcard-back {
        transform: rotateY(0deg);
        z-index: 2;
        transition: transform 0.6s linear, z-index 0s step-start 0.3s;
    }
}
