html {
    background: #3f7093;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f9f0;
    min-width: 1100px;
    margin: 0;
    color: #023f1e;
}

/*===============================================================*/
/*          HEADER          */

body > header {
    background-color: #77afe0ee;
    text-align: center;
    padding: 30px 0;
    color: white;
}

header p {
    font-weight: 600;
}

header h1 {
    font-size: 40px;
    margin: 0;
}

header ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: relative;
}

header ul li {
    display: inline;
    margin: 0 15px;
    color: #023f1e;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    position: relative;
    
}

section {
    margin-left: 20px;
    padding: 20px 0px 50px 0px;
    clear: both;    
}

article {
    flex: 1;
    align-items: left;
    margin-right: 60px;
    margin-left: 40px;
}

article section li {
    font-size: 1.3em;
}

article section button {
    background: #2980b9;
    border-radius: 20px;
    padding: 12px 20px;
    height: auto;
    margin-left: 30px;
}
article section button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    justify-content: center;
}

article section p {
    margin-left: 20px;
    font-size: 1.3em;
    margin-top: 10px;
}

article section h2 {
    background: linear-gradient(to top, #00c5003d 10%, transparent 60%);
    padding: 2px 5px;
    font-size: 1.8em;
    margin-top: 100px; /* Mezera mezi nadpisem a header */
    display: inline-block; /* Zajistí podtržení pouze pod textem */
}

article section h4 {
    margin-top: 50px;
}

article section h5 {
    font-size: 1.3em;
    font-weight: normal;
    margin-bottom: 10px;
}

/*===============================================================*/
/*          FOOTER          */

footer {
    box-sizing: border-box;
    text-align: left;
    height: 200px;
    color: white;
    background: #3f7093;
    padding: 50px 0px 0px 10px;
    font-size: 14px;
    margin-top: 30px;
    clip-path: polygon(0 30px, 100% 0, 100% 105%, 0 105%);
}

footer a {
    text-decoration: underline;
    color: inherit;
}

footer p {
    text-align: center;
}

/*===============================================================*/
/*          OBRÁZKY .img          */

.img-right {
    margin: 10px;
    float: right;
    width: 25%;
    margin-top: 20px;
    margin-left: 40px;
}

.img-right-top {
    margin: 10px;
    float: right;
    width: 25%;
    margin-top: 80px;
    margin-left: 40px;
}

.img-left {
    margin: 10px;
    float: left;
    width: 25%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.img-bottom {
    margin: 10px;
    width: 50%;
    margin-top: 10px;
    margin-left: 5%;
}

/*===============================================================*/
/*          OSTATNÍ TŘÍDY          */

.logo {
    width: 200px;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    margin: 10px 0px 0px 20px;
}

.home-icon img {
    width: 25px;
    height: auto;
    margin-left: 10px;
    margin-top: 8px;
}

.home-icon {
    display: inline-block;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
}

.zarazka {
    clear: both;
}

/*_______________________________________________________________*/
/* ==OTÁZKY== */
.faq {
    margin-bottom: 10px;
    cursor: pointer;
}

.question {
    font-weight: bold;
    background: #ddd;
    padding: 10px;
    border-radius: 5px;
}

.answer {
    display: none;
    padding: 10px;
    border-left: 3px solid #888;
    margin-left: 10px;
}

.faq.active .answer {
    display: block;
}

/*_______________________________________________________________*/
/* ==TLAČÍTKA, ŠIPKY== */

.button-container {
    display: flex;
    align-items: center;
    margin-right: 2vmax;
    margin-left: 2vmax;
    white-space: nowrap; /* Text se v tlačítkách nebude zalamovat při změnšení okna*/
}

.arrow {
    font-size: 18px;
    color: #025227;
}

.main-button,
.maine-button,
.dropdown-toggle,
.dropdown-toggle-second {
    background-color: #f0f9f0;
    color: #025227;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    align-items: center; 
    justify-content: center;
    padding: 12px 20px;
}

.main-button {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 19px;
}

.maine-button {
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;
    height: 19px;
}

.dropdown-toggle,
.dropdown-toggle-second {
    width: 100%; 
    max-width: 40px; 
    text-align: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: inline-flex;
    height: 43px;
    color: black;
    margin-left: 2px;
}

.sub-dropdown-toggle {
    margin-left: 5px;
    font-size: 16px;
    cursor: pointer;
    color: black;
}

.main-button:hover,
.maine-button:hover,
.dropdown-toggle:hover,
.dropdown-toggle-second:hover {
    background-color: white;
    width: auto;
}

/* Styl pro aktivní tlačítko */
.main-button.active,
.maine-button.active {
    background-color: #6197da;
    color: white;
}

/* Styl pro aktivní položku v podmenu */
.dropdown-content a.active {
    background-color: #6197dad5; 
    color: white;
}

/*_______________________________________________________________*/
/* ==VYSKAKOVACÍ OKNA== */

/* OBECNÉ */
.dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
}

.sub-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-right: 10px;
}

.dropdown-content,
.dropdown-content-second {
    visibility: hidden;
    transition: opacity 0.3 ease-in-out, visibility 0.3s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: block;
    text-align: center; 
    padding: 5px 0;
    z-index: 1000;
    width: 150px;
    margin-left: 26%;
    margin-top: 10px;
}

.sub-dropdown-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 0;
    min-width: 150px;
}

/* PRO KONKRÉTNÍ PRVKY */
.dropdown-content a,
.dropdown-content-second a {
    padding: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.dropdown-content a:hover,
.dropdown-content-second a:hover,
.sub-dropdown-content a:hover  {
    background-color: #ddd;
}

/* Specifické nastavení pro položku Úvod v podmenu */
.dropdown-content a.centered {
    display: flex;
    justify-content: center; 
    align-items: center;  
    width: 100%;
    margin-left: 15%;
}


/*===============================================================*/
/*          PŘI PROBLÉMECH ODKOMENTOVAT          */

/* 
.dropdown:hover {
    display: block;
} 
*/


/*
.dropdown:hover { 
    display: block;
} 
*/


/*
.sub-dropdown:hover .sub-dropdown-content {
    display: none; 
}
*/


/*
.sub-dropdown-content a {
    display: block;
}
*/


/*
.dropdown-content,
.dropdown-content-second {
    min-width: 0;
    top: 95%;
}
*/