.dropdown-toggle-second {
    
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown-toggle-second:hover,
.dropdown-toggle-second:focus,
.dropdown-toggle-second:active {
    /* Ujistíme se, že při hoveru a dalších stavech bude barva stejná */
    color: white;}
/* Základní styl pro dropdown */
/* Základní styl pro dropdown */
.dropdown {
    position: relative; /* Umožníme absolutní pozicování podmenu vzhledem k tlačítku */
    display: inline-block;
  }
  
  /* Skrytí podmenu, dokud není hover */
  .dropdown-second-content {
    display: none; /* Skrytí podmenu na začátku */
    position: absolute; /* Absolutní pozicování pod tlačítko */
    top: 100%; /* Podmenu je zobrazeno přímo pod tlačítkem */
    left: 0; /* Zarovná podmenu na levý okraj tlačítka */
    background-color: lightgray;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 100; /* Ujistíme se, že podmenu je vždy nad ostatními prvky */
  }
  
  /* Zobrazení podmenu při hover na hlavní tlačítko */
  .dropdown:hover .dropdown-second-content {
    display: block;
  }
  